{% extends 'base.html'%}
{% load static %}
{% block title %}-إنشاء حساب{% endblock %}
{% block content %}

  <!-- start signup -->

  <div class="container">
    <div class="row sign "> 
      <h2 class="locationTitile">إنشاء حساب</h2>
      <div class="col-12">
            <section class="signing_up">
              {% include 'includes/_alerts.html'%} 
              
              {% if is_added == True %}
              <form method="POST" style='display:none;'>
              {% else %}
              <form method="POST">
              {% endif %}
                {% csrf_token %}
                <div class="form-group">
                  <i class="fas fa-user"></i><input id="firstName" class="form-control form-input fc" type="text" placeholder=" " name="fname" value="{{fname}}">
                                    <label class="form-label" for="firstName">الإسم الأول </label>

                </div>
                <div class="form-group">
                  <i class="fas fa-user"></i><input id="lastName" class="form-control form-input  fc" type="text" placeholder=" " name="lname" value="{{lname}}">
                  <label class="form-label" for="lastName">الإسم الثاني </label>

                </div>
                
                <div class="form-group">
                  <i class="fa fa-envelope"></i><input id="email" class="form-control form-input fc" type="email" placeholder=" " name="email" value="{{email}}">
                                    <label class="form-label" for="email">البريد الإلكتروني </label>

                </div>
                <div class="form-group">
                  <i class="fas fa-user-circle"></i><input id="username" class="form-control form-input fc" type="text" placeholder=" " name="username" value="{{username}}">
                                    <label class="form-label" for="username">اسم المستخدم </label>

                </div>
                <div class="form-group">
                  <i class="fa fa-lock"></i><input id="password1" class="form-control form-input fc" type="password" placeholder=" " name="password1" value="{{password1}}">
                                    <label class="form-label" for="password1">كلمة السر</label>
                </div>
                <div class="form-group">
                  <i class="fa fa-lock"></i><input id="password2" class="form-control form-input fc" type="password" placeholder=" " name="password2" value="{{password2}}">
                                    <label class="form-label" for="password2">تأكيد كلمة السر</label>
                </div>
              
                <div class="form-group">
                  <i class="fas fa-map-marker-alt"></i><input id="address" class="form-control form-input fc" type="text" placeholder=" " name="address" value="{{address}}">
                                    <label class="form-label" for="address">العنوان </label>

                </div>
                <div class="form-group">
                  <i class="fas fa-mobile"></i><input id="phone" class="form-control form-input fc" type="tel" placeholder=" " name="phone" value="{{phone}}">
                                    <label class="form-label" for="phone">رقم التلفون</label>

                </div>
              <div class="form-terms">
                    <span>أوافق على شروط الاستخدام وسياسة الخصوصية</span>
                    <input name="terms" type="checkbox">
      
              </div>
                   <button name="btnsignup" type="submit" class="btn btn-primary btn-block mt-3 mb-3 bx_shadow">تسجيل</button>
               <div class="input_details">
                
                 
                    <a href="{% url 'signin' %}">تسجيل دخول</a><span> تملك حساب بالفعل؟</span>
               </div>
              </form>
              
            
            </section>       
          
      </div>
 
    </div>
 </div>
</section> 
</div> 
  <!-- end signup -->


  <!-- end signin -->
  {% endblock %}
