{% extends 'base.html'%}
{% load static %}
{% block content %}
<!-- start carousel -->
<div class="row">
  <div id="wrapper">
    <section class="slideshow" id="js-header">
                


      {% for slide in mysliders %}  
      <div class="slideshow__slide js-slider-home-slide is-prev" data-slide="{{ slide.slider_number }}">
        <div class="slideshow__slide-background-parallax background-absolute js-parallax" data-speed="-1" data-position="top" data-target="#js-header">
          <div class="slideshow__slide-background-load-wrap background-absolute">
            <div class="slideshow__slide-background-load background-absolute">
              <div class="slideshow__slide-background-wrap background-absolute">
                <div class="slideshow__slide-background background-absolute">
                  <div class="slideshow__slide-image-wrap background-absolute">
                    <div class="slideshow__slide-image background-absolute">
                    <img src="{{ slide.photo.url }}" alt="..." style="width: 100%; height: 100%">

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slideshow__slide-caption">
          <div class="slideshow__slide-caption-text">
            <div class="container js-parallax" data-speed="1" data-position="top" data-target="#js-header">
              <h1 class="slideshow__slide-caption-title">{{ slide.name }}</h1>
              <a class="slideshow__slide-caption-subtitle -load o-hsub -link" href="{% url 'pro_child' pro_id=slide.product.id %}">
                <span class="slideshow__slide-caption-subtitle-label">إضغط لعرض المنتجات</span>
              </a>
            </div>
          </div>
        </div>
      </div>
  
  {% endfor %}     
      <div class="c-header-home_footer">
      <div class="o-container">
        <div class="c-header-home_controls -nomobile o-button-group">
          <div class="js-parallax is-inview" data-speed="1" data-position="top" data-target="#js-header">
            <button class="o-button -white -square -left js-slider-home-button js-slider-home-prev" type="button">
              <span class="o-button_label">
                <svg class="o-button_icon" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-prev"></use></svg>
              </span>
            </button>
            <button class="o-button -white -square js-slider-home-button js-slider-home-next" type="button">
              <span class="o-button_label">
                <svg class="o-button_icon" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-next"></use></svg>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
     
      
    </section>
      <div>
        
      <svg xmlns="http://www.w3.org/2000/svg">
          <symbol viewBox="0 0 18 18" id="arrow-next">
              <path id="arrow-next-arrow.svg" d="M12.6,9L4,17.3L4.7,18l8.5-8.3l0,0L14,9l0,0l-0.7-0.7l0,0L4.7,0L4,0.7L12.6,9z"/>
          </symbol>
          <symbol viewBox="0 0 18 18" id="arrow-prev">
              <path id="arrow-prev-arrow.svg" d="M14,0.7L13.3,0L4.7,8.3l0,0L4,9l0,0l0.7,0.7l0,0l8.5,8.3l0.7-0.7L5.4,9L14,0.7z"/>
          </symbol>
      </svg>
    </div> 
  </div> 
</div>    
<!-- end carousel -->


<!-- start about -->



<div class="container-fluid IstContainer">
  <div class="row aboutUs"> 
    <h4 class="hr" ><span>:من نحن</span></h4>

    <div class="col-12 col-lg-6 col_padding">
      
          <img  src="{% static 'img/icon.jpg'%}"  class="image image1" alt="...">       
        
    </div>
    <div class="col-12 col-lg-6 col_padding">
     
      
        <p data-center-center="opacity:1;right:0;"  data-0-bottom="opacity:0;right:-100px;" class="text about_p"> الحجازي خبره اكتر من 15 سنه في تجهيز المحلات التجاريه <br><br>
زورونا في العناوين التالية : <br>
الفرع الاول / سوهاج القيسارية العويسات <br>
الفرع الثاني / سوهاج شارع احمد بن حنبل أمام حي شرق الزهراء <br>
الفرع الجديد / شارع التحرير الحميات بجوار مطعم التكيه <br>
        </p>
      
     
    </div> 
</div>
</div>
<!-- end about -->

<!-- start services -->

<h4 class="hr"><span>:خدماتنا</span></h4>
<div class="container-fluid">
  <div class="row aboutUs Nserve">
      <div class="col-6 col-sm-6 col-md-3">
          <div class="serviceBox">
              <div class="service-icon">
                <i class="fas fa-shopping-cart"></i>
              </div>
              <h3 class="title">منتجات متنوعه</h3>
              <p class="description">
                 لدينا جميع الإحتيتجات لكل محل
              </p>
              <a href="{% url 'products' %}" class="read">اذهب</a>
          </div>
      </div>

      <div class="col-6 col-md-3 col-sm-6">
          <div class="serviceBox">
              <div class="service-icon">
                <i class="fas fa-store"></i>
              </div>
              <h3 class="title">سابقه أعمال</h3>
              <p class="description">
                 هذه بعض النماذج لمحلات جهزنها بالكامل  
              </p>
              <a href="{% url 'works' %}" class="read">اذهب</a>
          </div>
      </div>
      <div class="col-6 col-md-3 col-sm-6">
        <div class="serviceBox">
            <div class="service-icon">
              <i class="fab fa-facebook-square"></i>
            </div>
            <h3 class="title">الفيس بوك</h3>
            <p class="description">
               يمكنك التصفح عبر صفحتنا على الفيس بوك
            </p>
            <a href="https://www.facebook.com/elhegazi" target="_blank" class="read">اذهب</a>
        </div>
    </div>
    <div class="col-6 col-md-3 col-sm-6">
      <div class="serviceBox">
          <div class="service-icon">
            <i class="fas fa-map-marked-alt"></i>
          </div>
          <h3 class="title">فروعنا</h3>
          <p class="description">
 ابحث عن الفرع الاقرب لموقعك
          </p>
          <a href="{% url 'location' %}" class="read">اذهب</a>
      </div>
  </div>
  </div>
</div>

<!-- end services -->

<!-- start sale products -->

  <h4 class="hr"><span>: خصومات</span></h4>
  <section class="splide spi2" aria-label="Splide Basic HTML Example">
    <span class="sale_icon">SALE%%</span>

    <div class="splide__track new__track">
      <ul class="splide__list">
        {% if chil2 %}

        {% for child in chil2|slice:':3' %}
        <li class="splide__slide new__splide">
        <div class="searchR">
            <div class="card" style="width: 18rem;">
                <img src="{{ child.photo.url }}" alt="..." class="card-img-top" alt="...">
                {% if child.oldPrice %}
                <span class="sale">sale!</span>
                {% endif %}
                <div class="card-body">
                  <h5 class="card-title">{{ child.name }}</h5>
                  <div class="card-hover">
                    <div class="card-text CT2"> <span class="price"><span class="price">{{ child.price }} جم</span><span class="latestPrice2">
                      {% if child.oldPrice %}
                      {{ child.oldPrice}}جم
                      {% endif %}
                    </span>
                    </div>
                    <div class="card-text CT1">code: <span>{{ child.code }}</span></div>
                  </div>    
                  <a href="{% url 'product_info' chi_id=child.id pro_id=child.product_id%}" class="NEWbtn">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    تفاصيل
                  </a>
                </div>
              </div>      
        </div>
        {% endfor %}
        {% else %}
        <h3 class="mt-5 mb-5">لا يوجد نتائج</h3>
        {% endif %}
      </li>	
      
      </ul>
    </div>
  </section>
 
<!-- end sale products -->

<!-- start new products -->
<h4 class="hr"><span>: احدث منتجاتنا</span></h4>

<section class="splide spi1" aria-label="Splide Basic HTML Example" >
  <span class="new_icon">NEW!!</span>

  <div class="splide__track new__track">
		<ul class="splide__list">
      {% if chil %}

      {% for child in chil|slice:':6' %}
      <li class="splide__slide new__splide">
       <div class="searchR">
           <div class="card" style="width: 18rem;">
               <img src="{{ child.photo.url }}" class="card-img-top" alt="...">
               {% if child.oldPrice %}
               <span class="sale">sale!</span>
               {% endif %}
               <div class="card-body">
                 <h5 class="card-title">{{ child.name }}</h5>
                 <div class="card-hover">
                    <div class="card-text CT2"> <span class="price"><span class="price">{{ child.price }} جم</span><span class="latestPrice2">
                     {% if child.oldPrice %}
                     {{ child.oldPrice}}جم
                     {% endif %}
                     </span>
                    </div> 
                   <div class="card-text CT1">code: <span>{{ child.code }}</span></div>
                 </div>    
                 <a href="{% url 'product_info' chi_id=child.id pro_id=child.product_id%}" class="NEWbtn">
                   <span></span>
                   <span></span>
                   <span></span>
                   <span></span>
                   تفاصيل
                 </a>
               </div>
             </div>      
       </div>
      {% endfor %}
      {% else %}
      <h3 class="mt-5 mb-5">لا يوجد نتائج</h3>
      {% endif %}
     </li>	
		
		</ul>
  </div>
</section>
 
<!-- end new products -->

<!-- start انظمة العرض-->

<h4 class="hr"><span>:انظمة العرض</span></h4>
<div class="container-fluid SecContainer">
  <div class="row about"> 
    {% for sec in mysections %}
        <div class="col-6">
            <div class="box3">
                <img src="{{ sec.photo.url }}">
                <div class="box-heading3">
                    <h3 class="title3">{{ sec.name }}</h3>
                    <span class="post3">{{ sec.secName}}</span>
                </div>
                <div class="boxContent3">
                    <p class="description3">
                      {{ sec.details }}
                    </p>
                    <a href="{% url 'pro_child' pro_id=sec.product.id %}" class="read3">عرض المنتجات <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
      {% endfor %}
  </div>
</div>




<!-- end new about -->


{% endblock %}
