{% extends 'base.html'%}
{% load static %}
{% block title %}-قائمة المفضله{% endblock %}
{% block content %}

<!-- start search_result -->

<div class="container-fluid">

  <a href="{% url 'index' %}" class="pro_arrow PROO_arrow"><i class="fas fa-home"></i></a>

    <div class="row about product-info searchR"> 
     <h2 class="locationTitile">قائمة المفضله </h2>

     {% if not request.user.is_authenticated or request.user.is_anonymous %}
     <div class="wrongcart">
         <a href="{% url 'signin' %}">تسجيل الدخول</a><h3 class="mt-3"> يجب</h3>
     </div>
     {%else%}
     {% for pro in prol %}

      <div class="col-4 col-md-3 col-lg-2 searchM">
        
          <div class="card" style="width: 18rem;">
            {% if pro.oldPrice %}
            <span class="sale">sale!</span>
            {% endif %}
              <img src="{{ pro.photo.url }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ pro.name }}</h5>
                <p class="card-text CT2"><span class="latestPrice2">
                  {% if pro.oldPrice %}
                  جم{{ pro.oldPrice}}
                  {% endif %}</span><span class="price"><bdi>جم </bdi>{{ pro.price }}</span></p>
                <p class="card-text CT1">code: <span>{{ pro.code }}</span></p>
               
                <a href="{% url 'product_info' chi_id=pro.id pro_id=pro.product_id%}" class="NEWbtn">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  تفاصيل</a>
              </div>
            </div>      
          
      </div>
     {% empty %}

  <div class="wrongcart">
      <a class="linkc" href="{% url 'products' %}">جميع المنتجات</a><h3 class="mt-3">لم تضيف منتجات للمفضله</h3>
  </div>

     {% endfor %}

   {%endif%}  

 

  </div>
 </div>
  <!-- end search_result -->

  </section> 

  

{% endblock %}
