{% extends 'base.html'%}
{% load static %}
{% block title %}- {{ pchild.name }}{% endblock %}
{% block content %}


<!-- start search_result -->

<div class="container">
    <a href="{% url 'products' %}" class="pro_arrow"><i class="fas fa-arrow-left"></i></a>
    <a href="{% url 'index' %}" class="pro_arrow home_arrow"><i class="fas fa-home"></i></a>


    <div class="row about product-info searchR"> 
     <h2 class="locationTitile">{{ pchild.name }}</h2>

    {% if prol %}

     {% for child in prol %}

      <div class="col-6 col-md-3 col-lg-3 searchM">
        
          <div class="card" style="width: 18rem;">
              <img src="{{ child.photo.url }}" class="card-img-top" alt="...">
              {% if child.oldPrice %}
              <span class="sale">sale!</span>
              {% endif %}
              <div class="card-body">
                <h5 class="card-title">{{ child.name }}</h5>
                <div class="card-hover">
                  {% comment %}
                    <div class="card-text CT2"> <span class="price"><span class="price">{{ child.price }} جم</span><span class="latestPrice2">
                      {% if child.oldPrice %}
                      {{ child.oldPrice}}جم
                      {% endif %}
                      </span>
                    </div> 
                  {% endcomment %}
                    
                  <div class="card-text CT1">code: <span>{{ child.code }}</span></div>
                </div>
                
                <a href="{% url 'product_info' chi_id=child.id pro_id=pchild.id%}" class="NEWbtn">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  تفاصيل
                </a>
               
              </div>
            </div>      
          
      </div>
     
     {% endfor %}

     

     {% else %}

     <h3 class="mt-5 mb-5">لا يوجد نتائج</h3>

     {% endif %}
      

  </div>
  
 </div>
  <!-- end search_result -->
  <nav aria-label="Page navigation ">
    <ul class="pagination justify-content-center P">
          
      {% if prol.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">&#11164&#11164</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ prol.previous_page_number }}">&#11164</a></li>
      {% endif %}
      
      <li class="page-item disabled"><a href="#" class="page-link">صفحه {{ prol.number }} من {{ prol.paginator.num_pages }}</a></li>

      
      
      {% if prol.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ prol.next_page_number }}">&#11166</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ prol.paginator.num_pages }}">&#11166&#11166</a></li>
        
      {% endif %}
  
   </ul>
  </nav>


{% endblock %}
