{% extends 'base.html'%}
{% load static %}
{% block title %}- {{ pchild.name }}{% endblock %}
{% block content %}


<!-- start search_result -->

<div class="container">
    <a href="{% url 'products' %}" class="pro_arrow txt_shadow"><i class="fas fa-arrow-left"></i></a>
    <a href="{% url 'index' %}" class="pro_arrow home_arrow txt_shadow"><i class="fas fa-home"></i></a>


    <div class="row about product-info searchR"> 
     <h2 class="locationTitile">{{ pchild.name }}</h2>

    
    {%if pchild.photo.url %}
        <div id="carouselExampleIndicators" class="carousel slide proCarousel" data-bs-ride="true" >
          
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            {%if pchild.photo2%}
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            {%else%}{%endif%}
            {%if pchild.photo3 %}
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            {%else%}{%endif%}
            {%if pchild.photo4 %}
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            {%else%}{%endif%}
            {%if pchild.photo5 %}
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
            {%else%}{%endif%}
            {%if pchild.photo6 %}
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
            {%else%}{%endif%}
            {%if pchild.photo7 %}
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
            {%else%}{%endif%}
            {%if pchild.photo8 %}
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
            {%else%}{%endif%}
            {%if pchild.photo9 %}
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
            {%else%}{%endif%}
            {%if pchild.photo10 %}
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 10"></button>
            {%else%}{%endif%}
          </div>
          <div class="carousel-inner carousel2 ">
            <div class="carousel-item active">
              <a href="{{ pchild.photo.url }}" data-fancybox="gallery2" class="img_holder">
                <i class="fa fa-search img_zoom product_zoom_active"></i>
                <img src="{{ pchild.photo.url }}" class="d-block w-100" alt="{{pchild.name}}">
              </a>  
            </div>
            {%if pchild.photo2 %}
            <a href="{{ pchild.photo2.url }}" data-fancybox="gallery2">
              <div class="carousel-item img_holder">
                <i class="fa fa-search img_zoom product_zoom"></i>
                <img src="{{ pchild.photo2.url }}" class="d-block w-100" alt="{{pchild.name}}">
              </div>
            </a>  
            {%else%}{%endif%}
          
            {%if pchild.photo3 %}
            <a href="{{ pchild.photo3.url }}" data-fancybox="gallery2">
              <div class="carousel-item img_holder">
                <i class="fa fa-search img_zoom product_zoom"></i>
                <img src="{{ pchild.photo3.url }}" class="d-block w-100" alt="{{pchild.name}}">
              </div>
            </a>  
            {%else%}{%endif%}
            {%if pchild.photo4 %}
            <a href="{{ pchild.photo4.url }}" data-fancybox="gallery2">
              <div class="carousel-item img_holder">
                <i class="fa fa-search img_zoom product_zoom"></i>
                <img src="{{ pchild.photo4.url }}" class="d-block w-100" alt="{{pchild.name}}">
              </div>
            </a>  
            {%else%}{%endif%}
            {%if pchild.photo5 %}
            <a href="{{ pchild.photo5.url }}" data-fancybox="gallery2">
              <div class="carousel-item img_holder">
                <i class="fa fa-search img_zoom product_zoom"></i>
                <img src="{{ pchild.photo5.url }}" class="d-block w-100" alt="{{pchild.name}}">
              </div>
            </a>  
            {%else%}{%endif%}
            {%if pchild.photo6 %}
            <a href="{{ pchild.photo6.url }}" data-fancybox="gallery2">
              <div class="carousel-item img_holder">
                <i class="fa fa-search img_zoom product_zoom"></i>
                <img src="{{ pchild.photo6.url }}" class="d-block w-100" alt="{{pchild.name}}">
              </div>
            </a>  
            {%else%}{%endif%}
            {%if pchild.photo7 %}
            <a href="{{ pchild.photo7.url }}" data-fancybox="gallery2">
              <div class="carousel-item img_holder">
                <i class="fa fa-search img_zoom product_zoom"></i>
                <img src="{{ pchild.photo7.url }}" class="d-block w-100" alt="{{pchild.name}}">
              </div>
            </a>  
            {%else%}{%endif%}
            {%if pchild.photo8 %}
            <a href="{{ pchild.photo8.url }}" data-fancybox="gallery2">
              <div class="carousel-item img_holder">
                <i class="fa fa-search img_zoom product_zoom"></i>
                <img src="{{ pchild.photo8.url }}" class="d-block w-100" alt="{{pchild.name}}">
              </div>
            </a>  
            {%else%}{%endif%}
            {%if pchild.photo9 %}
            <a href="{{ pchild.photo9.url }}" data-fancybox="gallery2">
              <div class="carousel-item img_holder">
                <i class="fa fa-search img_zoom product_zoom"></i>
                <img src="{{ pchild.photo9.url }}" class="d-block w-100" alt="{{pchild.name}}">
              </div>
            </a>  
            {%else%}{%endif%}
            {%if pchild.photo10 %}
            <a href="{{ pchild.photo10.url }}" data-fancybox="gallery2">
              <div class="carousel-item img_holder">
                <i class="fa fa-search img_zoom product_zoom"></i>
                <img src="{{ pchild.photo10.url }}" class="d-block w-100" alt="{{pchild.name}}"></div>
            </a>  
            {%else%}{%endif%}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon CCPI" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon CCNI" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      {% if pchild.details %}
        <div class="infoDetails2 ">
          <p class=""><bdi>{{ pchild.details|linebreaks }}</bdi></p>
        </div>
      {% endif %}  
      <div class="img-holder holder_product">
        <a id="lightboxTrigger" href="{% url 'generate_qr_code2' pro_id=pchild.pk  %}" data-fancybox="image-3" >
          <img class="qrcode"  src="{% url 'generate_qr_code2' pro_id=pchild.pk  %}" alt="QR Code">

        </a>
        <a id="lightboxTrigger2" href="{% url 'generate_qr_code2' pro_id=pchild.pk  %}" data-fancybox="image-4"><i class="fa-solid fa-expand"></i></a>


        <a id="downloadLink" href="{% url 'generate_qr_code2' pro_id=pchild.pk  %}" download="{{ pchild.code }}.jpg" class="download-link" ><i class="fa-solid fa-download"></i></a>

        <div class="currentLink_container link_pro">
          <p id="currentLink" class="currentLink" ></p>
          <i class="fa-solid fa-copy" id="copyIcon" class="copyIcon" onclick="copyCurrentLink()"></i>
        </div>
        
      </div>       
    {% endif %}
    <span class="INF2"></span>
  <div class="row filterSortRow">


    <div class="col-12 col-md-7 col-lg-6  filter_col">
      <div class="filter_address">
        

        <button id="toggleButton" class="btn btn-primary bx_shadow col-11">تصفيه      <i class="filter-icon fa-solid fa-filter"></i>
          <i class="close-icon fa-solid fa-times" style="display: none;"></i></button>

        
      </div>
        <form method="GET" id="searchForm" class="filter_form">  
            <input type="hidden" name="sort" value="{{ sort_param }}">
            <input type="hidden" name="searchPriceFrom" id="searchPriceFromInput" value="{% if 'searchPriceFrom' in request.GET %}{{ request.GET.searchPriceFrom }}{% else %}{{ min_price }}{% endif %}">
            <input type="hidden" name="searchPriceTo" id="searchPriceToInput"  value="{% if 'searchPriceTo' in request.GET %}{{ request.GET.searchPriceTo }}{% else %}{{ max_price }}{% endif %}">

            <div class="row filter_row">
                <div class="pri_add">:تصفيه حسب السعر</div> 

               
                <div class="filter_group rng col-12 col-md-6 col-lg-6">
                  <input type="text" id="priceSlider">                
                </div>
                
                <span class="INF2 pri"></span>

                <div class="pri_add">:تصفيه حسب الإسم</div> 
                <div class="filter_group col-12  asd">
                  <input class="filter_input" name="searchChildName" id="searchChildName" placeholder="الكل"  type="text" value="{% if 'searchChildName' in request.GET %}{{ request.GET.searchChildName }}{% endif %}">
                  <label class="filter_label" for="searchChildName">اسم المنتج</label>
                </div>    
                <div class="col-12" >
                  <button type="submit" class="btn btn-primary bx_shadow col-10 col-md-6 col-lg-6" id="searchButton">بحث</button>
                </div>
              </div>  
        </form>
    </div>  


    <div class="col-6 col-md-3 col-lg-3 filter_count">
      <span class=" border border-primary rounded p-1 m-1">{{chil_count}}</span> : تم العثور على
    </div>
    <div class="col-6 col-md-2 col-lg-3 ">
      <div class="sort_address">
        
        <div>: ترتيب حسب </div>
        <i class="fa-solid fa-sort"></i>
      </div>
          <div class="dropdown sort_dropdown">
            <button class="btn btn-primary dropdown-toggle bx_shadow" type="button" id="sortDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                {% if sort_param == 'AtoZ' %}من أ الى ى{% endif %}
                {% if sort_param == 'ZtoA' %}من ى الى أ{% endif %}
                {% if sort_param == 'priceUP' %}الأقل سعر أولا{% endif %}
                {% if sort_param == 'priceDown' %}الأعلى سعر أولا{% endif %}
                {% if sort_param == 'dateUP' %}الأقدم أولا{% endif %}
                {% if sort_param == 'dateDown' %}الأحدث أولا{% endif %}
                {% if not sort_param or sort_param == 'None' %}الإفتراضي{% endif %}
            </button>
            <ul class="dropdown-menu" aria-labelledby="sortDropdown">
                <li><a class="dropdown-item  {% if not sort_param or sort_param == 'None' %}active{% endif %}" href="{% url 'pro_child' pro_id=pchild.id %}?searchChildName={{ request.GET.searchChildName }}&searchPriceFrom={{ price_from }}&searchPriceTo={{ price_To }}">الإفتراضي</a></li>
                <li><a class="dropdown-item {% if sort_param == 'AtoZ' %}active{% endif %}" href="{% url 'pro_child' pro_id=pchild.id %}?sort=AtoZ&searchChildName={{ request.GET.searchChildName }}&searchPriceFrom={{ price_from|default:min_price }}&searchPriceTo={{ price_To|default:max_price }}">من أ الى ى</a></li>
                <li><a class="dropdown-item {% if sort_param == 'ZtoA' %}active{% endif %}" href="{% url 'pro_child' pro_id=pchild.id %}?sort=ZtoA&searchChildName={{ request.GET.searchChildName }}&searchPriceFrom={{ price_from|default:min_price }}&searchPriceTo={{ price_To|default:max_price }}">من ى الى أ</a></li>
                <li><a class="dropdown-item {% if sort_param == 'priceUP' %}active{% endif %}" href="{% url 'pro_child' pro_id=pchild.id %}?sort=priceUP&searchChildName={{ request.GET.searchChildName }}&searchPriceFrom={{ price_from|default:min_price }}&searchPriceTo={{ price_To|default:max_price }}">الأقل سعر أولا</a></li>
                <li><a class="dropdown-item {% if sort_param == 'priceDown' %}active{% endif %}" href="{% url 'pro_child' pro_id=pchild.id %}?sort=priceDown&searchChildName={{ request.GET.searchChildName }}&searchPriceFrom={{ price_from|default:min_price }}&searchPriceTo={{ price_To|default:max_price }}">الأعلى سعر أولا</a></li>
                <li><a class="dropdown-item {% if sort_param == 'dateUP' %}active{% endif %}" href="{% url 'pro_child' pro_id=pchild.id %}?sort=dateUP&searchChildName={{ request.GET.searchChildName }}&searchPriceFrom={{ price_from|default:min_price }}&searchPriceTo={{ price_To|default:max_price }}">الأقدم أولا</a></li>
                <li><a class="dropdown-item {% if sort_param == 'dateDown' %}active{% endif %}" href="{% url 'pro_child' pro_id=pchild.id %}?sort=dateDown&searchChildName={{ request.GET.searchChildName }}&searchPriceFrom={{ price_from|default:min_price }}&searchPriceTo={{ price_To|default:max_price }}">الأحدث أولا</a></li>
            </ul>
        </div>
    </div> 
    
      
   
  </div>
     <span class="INF2"></span>
     {% if prol %}
     {% for child in prol %}

      <div class="col-6 col-md-3 col-lg-3 searchM">
        
          <div class="card" style="width: 18rem;">
              <img src="{{ child.photo.url }}" class="card-img-top" alt="...">

              <div class="child_cart">
                <div class="badge_content">
                  <div class="square"></div>
                  <div class="tri"></div>
                </div> 
                <div class="content">
                  <a href="{% url 'product_info' chi_id=child.id pro_id=child.product_id%}" >
                        <i class="fas fa-cart-plus"></i>                  
                    </a>
                </div>
              </div> 
              <div class="child_heart">
                <div class="badge_content">
                  <div class="square"></div>
                  <div class="tri"></div>
                </div>  
                <div class="content">
                  <!-- Update the anchor tag to use data attributes -->
                <a class="favorite-btn" data-pro-id="{{ child.product.id }}" data-chi-id="{{ child.id }}">
                  <i {% if request.user.is_authenticated and child in request.user.userprofile.product_favorites.all %} class="fas fa-heart love" {% else %}class="fas fa-heart"{% endif %}></i>
                </a>

                                
                
                </div>
              </div> 
              
              {% if child.oldPrice %}
              <div class="sale">
                <div class="rope"></div>
                <div class="content">
                    <h2>Sale!!</h2>
                </div>
              </div>              {% endif %}
              <div class="card-body">
                <h5 class="card-title">{{ child.name }}</h5>
                <div class="card-hover">
                    <div class="card-text CT2"> <span class="price"><span class="price">{{ child.price }} جم</span><span class="latestPrice2">
                      {% if child.oldPrice %}
                      {{ child.oldPrice}}جم
                      {% endif %}
                      </span>
                    </div> 
                    
                  <div class="card-text CT1">code: <span>{{ child.code }}</span></div>
                </div>
                
                <a href="{% url 'product_info' chi_id=child.id pro_id=pchild.id%}" class="NEWbtn">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  تفاصيل
                </a>
               
              </div>
            </div>      
          
      </div>
     
     {% endfor %}

     

     {% else %}

     <h3 class="mt-5 mb-5">لا يوجد نتائج</h3>

     {% endif %}
      

  </div>
  
 </div>
  <!-- end search_result -->
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center P">
            
      {% if prol.has_previous %}
        <li class="page-item"><a class="page-link bx_shadow" href="?page=1{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}{% if request.GET.searchChildName %}&searchChildName={{ request.GET.searchChildName }}{% endif %}{% if request.GET.searchPriceFrom %}&searchPriceFrom={{ request.GET.searchPriceFrom }}{% endif %}{% if request.GET.searchPriceTo %}&searchPriceTo={{ request.GET.searchPriceTo }}{% endif %}"><i class="fa-solid fa-angles-left"></i></a></li>
        <li class="page-item"><a class="page-link bx_shadow" href="?page={{ prol.previous_page_number }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}{% if request.GET.searchChildName %}&searchChildName={{ request.GET.searchChildName }}{% endif %}{% if request.GET.searchPriceFrom %}&searchPriceFrom={{ request.GET.searchPriceFrom }}{% endif %}{% if request.GET.searchPriceTo %}&searchPriceTo={{ request.GET.searchPriceTo }}{% endif %}"><i class="fa-solid fa-angle-left"></i></a></li>
      {% endif %}
        
      <li class="page-item disabled"><a href="#" class="page-link">صفحه {{ prol.number }} من {{ prol.paginator.num_pages }}</a></li>
  
      {% if prol.has_next %}
        <li class="page-item "><a class="page-link bx_shadow" href="?page={{ prol.next_page_number }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}{% if request.GET.searchChildName %}&searchChildName={{ request.GET.searchChildName }}{% endif %}{% if request.GET.searchPriceFrom %}&searchPriceFrom={{ request.GET.searchPriceFrom }}{% endif %}{% if request.GET.searchPriceTo %}&searchPriceTo={{ request.GET.searchPriceTo }}{% endif %}"><i class="fa-solid fa-angle-right"></i></a></li>
        <li class="page-item"><a class="page-link bx_shadow" href="?page={{ prol.paginator.num_pages }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}{% if request.GET.searchChildName %}&searchChildName={{ request.GET.searchChildName }}{% endif %}{% if request.GET.searchPriceFrom %}&searchPriceFrom={{ request.GET.searchPriceFrom }}{% endif %}{% if request.GET.searchPriceTo %}&searchPriceTo={{ request.GET.searchPriceTo }}{% endif %}"><i class="fa-solid fa-angles-right"></i></a></li>
      {% endif %}
    
    </ul>
  </nav>
  

 

 
  <script>

    
  </script>
{% endblock %}

