{% extends 'base.html'%}
{% load static %}
{% block title %}-{{ pchild.name }}{% endblock %}
{% block content %}

    <!-- start product_info -->
  
<form id="frmaddtocart" action="{% url 'add_to_cart' %}">

    <div class="container">
        <div class="row about product-info NewInfo"> 

          <div class="col-12 col-lg-6 P_IMG info_sec">

            <a href="{% url 'pro_child' pro_id=pchild.product_id %}" class="proInfo_arrow"><i class="fas fa-arrow-left"></i></a>
            <a href="{% url 'index' %}" class="proInfo_arrow_home"><i class="fas fa-home"></i></a>

            {% include 'includes/_alerts.html'%} 


 <!-- start carousel -->
 <div id="carouselExampleIndicators22" class="carousel slide carousel-first" data-bs-ride="carousel">
              <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators22" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              {% if pchild.photo2 %}
              <button type="button" data-bs-target="#carouselExampleIndicators22" data-bs-slide-to="1" aria-label="Slide 2"></button>
              {%else%}  

              {%endif%}
              {% if pchild.photo3 %}
              <button type="button" data-bs-target="#carouselExampleIndicators22" data-bs-slide-to="2" aria-label="Slide 3"></button>
              {%else%}  

              {%endif%}
              {% if pchild.photo4 %}
              <button type="button" data-bs-target="#carouselExampleIndicators22" data-bs-slide-to="3" aria-label="Slide 4"></button>
              {%else%}  

              {%endif%}
              {% if pchild.photo5 %}
              <button type="button" data-bs-target="#carouselExampleIndicators22" data-bs-slide-to="4" aria-label="Slide 5"></button>
              {%else%}  

              {%endif%}
            </div>
          <div class="carousel-inner">
                  {% if pchild.oldPrice %}
                  <span class="sale">sale!</span>
                  {% endif %}
                <div class="carousel-item active data-interval="500"">
                    <img src="{{ pchild.photo.url }}" class="d-block w-100" alt="...">
                    
                </div>

                {% if pchild.photo2 %}
                  <div class="carousel-item data-interval="500"">
                    <img src="{{ pchild.photo2.url }}" class="d-block w-100" alt="...">
                  </div>
                {%else%}  

                {%endif%}

                {% if pchild.photo3 %}
                <div class="carousel-item data-interval="500"">
                  <img src="{{ pchild.photo3.url }}" class="d-block w-100" alt="...">
                </div>
                {%else%}  

                {%endif%}

                {% if pchild.photo4 %}
                <div class="carousel-item data-interval="500"">
                  <img src="{{ pchild.photo4.url }}" class="d-block w-100" alt="...">
                </div>
                {%else%}  

                {%endif%}

                {% if pchild.photo5 %}
                <div class="carousel-item data-interval="500"">
                  <img src="{{ pchild.photo5.url }}" class="d-block w-100" alt="...">
                </div>
                {%else%}  

                {%endif%}

                
            
            
            
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators22" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators22" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
          </div> 
 <!-- end carousel -->
            
              
      
          <div class="col-12 col-lg-6 P_IN info_sec">

            <h5 class="locationTitile infoTittle">{{ pchild.name }}</h5>

            {% if pchild.details %}
              <p class="infoDetails"><span class="">{{ pchild.details|linebreaks }}</span></p>
              <div class="NF"></div>
              <hr>
           {% endif %}
             {% comment %}
                <div class="infoCircle2">السعر: <span class="productPrice">{{ pchild.price }} جم</span><span class="latestPrice">
                  {% if pchild.oldPrice %}
                  {{ pchild.oldPrice}}جم
                  {% endif %}
                </span></div> 
             {% endcomment %}
              <div class="infoCircle ">الكود: <span class="">{{ pchild.code }}</span></div>
               
            
  <hr>
              {% comment %}
                <div class="fav-cart">
                  <button type="button" class="btn btn-primary text-white mr-2"   data-bs-toggle="modal" data-bs-target="#exampleModal">إضاقه إلى العربه</button>
            
                  <a href="{% url 'product_favorite' chi_id=pchild.id pro_id=pchild.product.id %}" type="submit" 
                  {% if pchild.product.id in userprofile.product_favorites %}
                  class="btn btn-primary text-danger"
                  {% else %}
                  class="btn btn-primary text-white"
                  {% endif %}
                  ><i class="fas fa-heart"></i></a>
                </div> 
              {% endcomment %}
       
          </div> 
          
         
        <!-- <div class="img-holder">
         
          <img class="qrcode" src={{obj.qr_code.url}}>
        </div> -->

     </div>
    </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title " id="exampleModalLabel">تحديد الكميه</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="  overflow-wrap: break-word;">
                <label for="inputQty" class="">العدد</label>
                <input  value="1" class="form-control rounded text-dark" id="inputQty" type="text" placeholder=""  name="qty" required>
                <input type="hidden" name="pro_id" value="{{pchild.id}}">
                <input type="hidden" name="price" value="{{pchild.price}}">
                <input type="hidden" name="code" value="{{pchild.code}}">
                <input type="hidden" name="father" value="{{pchild.product.id}}">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnclose">Close</button>
              <button class="btn btn-primary" onclick="addtocart()">تأكيد</button>
            </div>
          </div>
        </div>
      </div>
    </form> 
    
     
      <!-- end product_info -->
<script>
  function addtocart(){
    document.getElementById('btnclose').click();
    document.getElementById('frmaddtocart').submit();
  }
</script>
{% endblock %}
