{% extends 'base.html'%}
{% load static %}
{% block title %}-{{ pchild.name }}{% endblock %}
{% block content %}

    <!-- start product_info -->
  
<form id="frmaddtocart" action="{% url 'add_to_cart' %}">

    <div class="container">
        <div class="row about product-info NewInfo"> 

          <div class="col-12 col-lg-6 P_IMG info_sec">

            <a href="{% url 'pro_child' pro_id=pchild.product_id %}" class="proInfo_arrow txt_shadow"><i class="fas fa-arrow-left"></i></a>
            <a href="{% url 'index' %}" class="proInfo_arrow_home txt_shadow"><i class="fas fa-home "></i></a>

            {% include 'includes/_alerts.html'%} 


 <!-- start carousel -->
 <div id="carouselExampleIndicators22" class="carousel slide carousel-first" data-bs-ride="carousel">
              <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators22" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              {% if pchild.photo2 %}
              <button type="button" data-bs-target="#carouselExampleIndicators22" data-bs-slide-to="1" aria-label="Slide 2"></button>
              {%else%}  

              {%endif%}
              {% if pchild.photo3 %}
              <button type="button" data-bs-target="#carouselExampleIndicators22" data-bs-slide-to="2" aria-label="Slide 3"></button>
              {%else%}  

              {%endif%}
              {% if pchild.photo4 %}
              <button type="button" data-bs-target="#carouselExampleIndicators22" data-bs-slide-to="3" aria-label="Slide 4"></button>
              {%else%}  

              {%endif%}
              {% if pchild.photo5 %}
              <button type="button" data-bs-target="#carouselExampleIndicators22" data-bs-slide-to="4" aria-label="Slide 5"></button>
              {%else%}  

              {%endif%}
            </div>
          <div class="carousel-inner">
                  {% if pchild.oldPrice %}
                  <div class="sale">
                    <div class="rope"></div>
                    <div class="content">
                        <h2>Sale!!</h2>
                    </div>
                  </div>  
                  {% endif %}
                <div class="carousel-item active data-interval="100"">
                  <a href="{{ pchild.photo.url }}" data-fancybox="gallery" class="img_holder">
                   <i class="fa fa-search img_zoom child_zoom txt_shadow"></i>
                    <img src="{{ pchild.photo.url }}" class="d-block w-100" alt="...">
                  </a>  
                </div>

                {% if pchild.photo2 %}
                  <div class="carousel-item data-interval="100"">
                    <a href="{{ pchild.photo2.url }}" data-fancybox="gallery" class="img_holder">
                     <i class="fa fa-search img_zoom child_zoom txt_shadow"></i> 
                     <img src="{{ pchild.photo2.url }}" class="d-block w-100" alt="...">
                    </a> 
                  </div>
                {%else%}  

                {%endif%}

                {% if pchild.photo3 %}
                <div class="carousel-item data-interval="100"">
                  <a href="{{ pchild.photo3.url }}" data-fancybox="gallery" class="img_holder">
                   <i class="fa fa-search img_zoom child_zoom txt_shadow"></i>
                     <img src="{{ pchild.photo3.url }}" class="d-block w-100" alt="...">
                  </a>   
                </div>
                {%else%}  

                {%endif%}

                {% if pchild.photo4 %}
                <div class="carousel-item data-interval="100"">
                  <a href="{{ pchild.photo4.url }}" data-fancybox="gallery" class="img_holder">
                   <i class="fa fa-search img_zoom child_zoom txt_shadow"></i>
                    <img src="{{ pchild.photo4.url }}" class="d-block w-100" alt="...">
                  </a>  
                </div>
                {%else%}  

                {%endif%}

                {% if pchild.photo5 %}
                <div class="carousel-item data-interval="100"">
                  <a href="{{ pchild.photo5.url }}" data-fancybox="gallery" class="img_holder">
                   <i class="fa fa-search img_zoom child_zoom txt_shadow"></i>
                    <img src="{{ pchild.photo5.url }}" class="d-block w-100" alt="...">
                  </a>
                </div>
                {%else%}  

                {%endif%}

                
            
            
            
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators22" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators22" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
          </div> 
 <!-- end carousel -->
            
              
      
          <div class="col-12 col-lg-6 P_IN info_sec">

            <h5 class="locationTitile infoTittle">{{ pchild.name }}</h5>

            {% if pchild.details %}
              <p class="infoDetails"><span class="">{{ pchild.details|linebreaks }}</span></p>
              <div class="NF"></div>
              <hr>
           {% endif %}
                <div class="infoCircle2">السعر: <span class="productPrice">{{ pchild.price }} جم</span><span class="latestPrice">
                  {% if pchild.oldPrice %}
                  {{ pchild.oldPrice}}جم
                  {% endif %}
                </span></div> 
             
              <div class="infoCircle ">الكود: <span class="">{{ pchild.code }}</span></div>
               
            
  <hr>
              
                <div class="fav-cart">
                  <button type="button" class="btn btn-primary text-white mr-2 bx_shadow"   data-bs-toggle="modal" data-bs-target="#exampleModal">إضاقه إلى العربه</button>
                  
                
                  <a class="favorite-btn btn btn-primary product_info_love bx_shadow" data-pro-id="{{ pchild.product.id }}" data-chi-id="{{ pchild.id }}">
                    <i {% if request.user.is_authenticated and pchild in request.user.userprofile.product_favorites.all %} class="fas fa-heart love" {% else %}class="fas fa-heart "{% endif %}></i>
                  </a>
      
                
                </div> 
       
          </div> 
          
         
        <div class="img-holder">
          <a id="lightboxTrigger" href="{% url 'generate_qr_code' pro_id=pchild.product.pk chi_id=pchild.pk %}" data-fancybox="image-1">

            <img class="qrcode"  src="{% url 'generate_qr_code' pro_id=pchild.product.pk chi_id=pchild.pk %}" alt="QR Code">

          </a>
          <a id="lightboxTrigger2" href="{% url 'generate_qr_code' pro_id=pchild.product.pk chi_id=pchild.pk %}" data-fancybox="image-2"><i class="fa-solid fa-expand txt_shadow"></i></a>


          <a id="downloadLink" href="{% url 'generate_qr_code' pro_id=pchild.product.pk chi_id=pchild.pk %}" download="{{ pchild.name }}.jpg" class="download-link " ><i class="fa-solid fa-download txt_shadow"></i></a>

          <div class="currentLink_container">
            <p id="currentLink" class="currentLink" ></p>
            <i class="fa-solid fa-copy" id="copyIcon" class="copyIcon" onclick="copyCurrentLink()"></i>
          </div>
          
        </div> 

     </div>
    </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title " id="exampleModalLabel">تحديد الكميه</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="  overflow-wrap: break-word;">
                <label for="inputQty" class="">العدد</label>
                <input  value="1" class="form-control rounded text-dark" id="inputQty" type="text" placeholder=""  name="qty" required>
                <input type="hidden" name="pro_id" value="{{pchild.id}}">
                <input type="hidden" name="price" value="{{pchild.price}}">
                <input type="hidden" name="code" value="{{pchild.code}}">
                <input type="hidden" name="father" value="{{pchild.product.id}}">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary bx_shadow" data-bs-dismiss="modal" id="btnclose">Close</button>
              <button class="btn btn-primary bx_shadow" onclick="addtocart()">تأكيد</button>
            </div>
          </div>
        </div>
      </div>
    </form> 
    <h4 class="hr"><span>:منتجات مشابهة </span></h4>

    <section class="splide spi3" id="spi3" aria-label="Splide Basic HTML Example" >
      <span class="sale_icon related">Related !!</span>
    
      <div class="splide__track new__track">
        <ul class="splide__list">
          {% if related_children %}
    
          {% for child2 in related_children|slice:':6' %}
          <li class="splide__slide new__splide">
           <div class="searchR">
               <div class="card" style="width: 18rem;">
                   <img src="{{ child2.photo.url }}" class="card-img-top" alt="...">
                   <div class="child_cart index_cart">
                    <div class="badge_content">
                      <div class="square"></div>
                      <div class="tri"></div>
                    </div> 
                    <div class="content">
                      <a href="{% url 'product_info' chi_id=child2.id pro_id=child2.product_id%}" >
                          <i class="fas fa-cart-plus"></i>                 
                      </a>
                    </div>
                  </div> 
                  <div class="child_heart index_heart">
                    <div class="badge_content">
                      <div class="square"></div>
                      <div class="tri"></div>
                    </div>  
                    <div class="content">
                      <!-- Update the anchor tag to use data attributes -->
                    <a class="favorite-btn" data-pro-id="{{ child2.product.id }}" data-chi-id="{{ child2.id }}">
                      <i {% if request.user.is_authenticated and child2 in request.user.userprofile.product_favorites.all %} class="fas fa-heart love" {% else %}class="fas fa-heart"{% endif %}></i>
                    </a>
    
                   </div>
                  </div> 
                   {% if child2.oldPrice %}
                  <div class="sale index_sale">
                    <div class="rope"></div>
                    <div class="content">
                        <h2>Sale!!</h2>
                    </div>
                  </div>               {% endif %}
                   <div class="card-body">
                     <h5 class="card-title">{{ child2.name }}</h5>
                     <div class="card-hover">
                        <div class="card-text CT2"> <span class="price"><span class="price">{{ child2.price }} جم</span><span class="latestPrice2">
                         {% if child2.oldPrice %}
                         {{ child2.oldPrice}}جم
                         {% endif %}
                         </span>
                        </div> 
                       <div class="card-text CT1">code: <span>{{ child2.code }}</span></div>
                     </div>    
                     <a href="{% url 'product_info' chi_id=child2.id pro_id=child2.product_id%}" class="NEWbtn">
                       <span></span>
                       <span></span>
                       <span></span>
                       <span></span>
                       تفاصيل
                     </a>
                   </div>
                 </div>      
           </div>

          {% endfor %}

          {% else %}
          <h3 class="mt-5 mb-5">لا يوجد نتائج</h3>
          {% endif %}
         </li>	
        
        </ul>
      </div>

    </section>
   <div class="related_link"> <a href="{% url 'pro_child' pro_id=related_children.last.product.id %}" class="btn btn-primary text-white mr-2 bx_shadow">عرض المزيد</a></div>
   

      <!-- end product_info -->
<script>
  function addtocart(){
    document.getElementById('btnclose').click();
    document.getElementById('frmaddtocart').submit();
  }

  
</script>

{% endblock %}
