{% extends 'base.html'%}
{% load static %}
{% block title %}- جميع المنتجات{% endblock %}
{% block content %}
<div class="container allProduct">
  <a href="{% url 'index' %}" class="pro_arrow"><i class="fas fa-home"></i></a>

  <div class="accordion myProduct " id="accordionExample">
      <h2 class="accordionTitle">منتجاتنا</h2>
      <section>

  {% for pro in products %}
      
      <div class="card">
        <a href="{% url 'pro_child' pro_id=pro.id %}" class="linkColor">
        <div class="card-header" id="headingOne">
      
          <span class="span"></span>
          <span class="span"></span>
          <span class="span"></span>
          <span class="span"></span>
          <h2 class="mb-0">
        
            <button class="btn btn-link btn-block text-left linkColor" type="button" >
              {{ pro.name }}
            </button>
         
          </h2>
          <span class="product-button">اضغط لعرض المنتجات</span>
        
        </div>
      </a>
      
    
  {% endfor %}
  </div>
  <!-- end accordion collapse -->
      </section> 
  </div>
</div>
{% endblock %}