{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="google-site-verification"
      content="TsphvC1suc0MQO1LKgGUmmLMnlr_1MNO28ycgmSY-Ag"
    />
    <meta
      name="description"
      content="الحجازي خبره اكتر من 15 سنه في تجهيز المحلات التجاريه
    زورونا في العناوين التالية :
الفرع الاول / سوهاج القيسارية العويسات
الفرع الثاني / سوهاج شارع احمد بن حنبل أمام حي شرق الزهراء
الفرع الجديد / شارع التحرير الحميات بجوار مطعم التكيه"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"
      integrity="sha512-t4GWSVZO1eC8BM339Xd7Uphw5s17a86tIZIj8qRxhnKub6WoyhnrxeCIMeAqBPgdZGlCcG2PrZjMc+Wr78+5Xg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lemonada&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/splidejs/4.1.4/css/splide.min.css"
      integrity="sha512-KhFXpe+VJEu5HYbJyKQs9VvwGB+jQepqb4ZnlhUF/jQGxYJcjdxOTf6cr445hOc791FFLs18DKVpfrQnONOB1g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/fancyapps-ui/5.0.20/fancybox/fancybox.min.css"
      integrity="sha512-CKzoxXyMYmvRJC/xhN3ZAN8qo4NSwYHnrGgS/cgUK80E2VgNjab71jUQgH55Vqzuw8lxUxg13xzMZuFTHxJD8A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css"
      integrity="sha512-NWCafukXClS6fKch6bSMl/WvPzZrD1OGMf1oMAnFYXSSKZ7hgeswls+r4SdK4bFJauVwmvFf7HlMwji2TsjROA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="{% static 'css/normalize.css'%}" />
    <link rel="stylesheet" href="{% static 'css/all.css'%}" />
    <link rel="shortcut icon" href="{% static 'img/iconPng.png'%}" />
    <link rel="stylesheet" href="{% static 'css/main.css'%}" />

    <title>الحجازي {% block title %}لتجهيز المحلات{% endblock %}</title>
  </head>
  <body onload="showLink()">
    <!-- start navbar -->
    {% include 'partials/_navbar.html'%}
    <!-- end navbar -->
    {% block content %} {% endblock %}

    <!-- start footer -->
    {% include 'partials/_footer.html'%}

    <!-- srart arrow -->
    <a href="#nav"
      ><div class="arrow-bg"><i class="fas fa-arrow-up"></i></div
    ></a>

    <!-- end arrow -->

    <!-- srart contact -->
    <div class="contact_links">
      <a
        class="whatsapp_link btn btn-primary bx_shadow"
        href="https://wa.me/201064450449"
        target="_blank"
      >
        <i class="fa-brands fa-whatsapp"></i>
      </a>

      <a
        class="messenger_link btn btn-primary bx_shadow"
        href="https://m.me/elhegazi"
        target="_blank"
      >
        <i class="fa-brands fa-facebook-messenger"></i>
      </a>
    </div>
    <!-- end contact -->

    <!-- Optional JavaScript -->
    <!-- Popper.js first, then Bootstrap JS -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
      integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"
      integrity="sha512-TPh2Oxlg1zp+kz3nFA0C5vVC6leG/6mm1z9+mA81MI5eaUVqasPLO8Cuk4gMF4gUfP5etR73rgU/8PNMsSesoQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"
      integrity="sha512-3dZ9wIrMMij8rOH7X3kLfXAzwtcHpuYpEgQg1OA4QAob1e81H8ntUQmQm3pBudqIoySO5j0tHN4ENzA6+n2r4w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script src="{% static 'js/bootstrap.min.js'%}"></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"
      integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D"
      crossorigin="anonymous"
      async
    ></script>
    <script
      src="https://kit.fontawesome.com/c702822b74.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
      integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.3/ScrollTrigger.min.js"></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/splidejs/4.1.4/js/splide.min.js"
      integrity="sha512-4TcjHXQMLM7Y6eqfiasrsnRCc8D/unDeY1UGKGgfwyLUCTsHYMxF7/UHayjItKQKIoP6TTQ6AMamb9w2GMAvNg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/fancyapps-ui/5.0.20/fancybox/fancybox.umd.js"
      integrity="sha512-IhR9I8gekUZ8WxAdepIWS2GktjbwgLWRaxNFHhEjA0XowdI/JMZuMY9/6KRGfZJFmLc5u4qj6eosU8jlHqVsfQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"
      integrity="sha512-kZsqvmw94Y8hyhwtWZJvDtobwQ9pLhF1DuIvcqSuracbRn6WJs1Ih+04fpH/8d1CFKysp7XA1tR0Aa2jKLTQUg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-QHQFP3WNM0"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-QHQFP3WNM0");
    </script>
    <script src="{% static 'js/partial.js'%}"></script>
    <script src="{% static 'js/New.js'%}"></script>
    <script src="{% static 'js/anime.min.js'%}"></script>

    <script>
                  $(document).ready(function () {
                    $("#exampleModal").on("shown.bs.modal", function () {
                      $(this).find("#inputQty").focus();
                      $(this).find("#inputQty").select();
                    });
                  });
                  window.addEventListener("scroll", () => {
                    const arr = document.querySelector(".arrow-bg");
                    arr.classList.toggle("arrow-show", window.scrollY > 20);
                  });

                  gsap.registerPlugin(ScrollTrigger);
                  gsap.from(".navbar-brand", { opacity: 0, duration: 1, x: 20 });
                  gsap.from(".navbar-toggler", {
                    opacity: 0,
                    duration: 0.5,
                    delay: 0.6,
                    x: -10,
                  });
                  gsap.from(".d-flex .form-control", {
                    opacity: 0,
                    duration: 1,
                    delay: 0.5,
                    x: -20,
                  });
                  gsap.from(".d-flex .searchBtn", {
                    opacity: 0,
                    duration: 1.2,
                    delay: 0.5,
                    x: -40,
                  });
                  gsap.from(".d-flex .cartBtn", {
                    opacity: 0,
                    duration: 1.4,
                    delay: 0.5,
                    x: -60,
                  });
                  gsap.from(".mob-cartBtn", {
                    opacity: 0,
                    duration: 0.4,
                    delay: 0.5,
                    x: -10,
                  });
                  gsap.from(".arrow-bg", { opacity: 0, duration: 1.4, delay: 0.5, y: 60 });
                  gsap.from(".navbar-nav .nav-item", {
                    opacity: 0,
                    duration: 1,
                    delay: 0.5,
                    y: 30,
                    stagger: 0.2,
                  });


               $(document).ready(function () {

                    $('.favorite-btn').click(function (e) {
                        e.preventDefault();
                        const pro_id = $(this).data('pro-id');
                        const chi_id = $(this).data('chi-id');
                        const url = "{% url 'product_favorite_pro_child'%}";

                        // Save reference to the favorite button element
                        const $favoriteBtn = $(this);

                        // Get the CSRF token from the cookie
                        const csrftoken = getCookie('csrftoken');



                        $.ajax({
                            type: 'POST',
                            url: url,
                            data: {
                                pro_id: pro_id,
                                chi_id: chi_id,
                                csrfmiddlewaretoken: csrftoken, // Include the CSRF token in the request
                            },
                            success: function (data) {
                              if (data.is_favorite) {
                                $favoriteBtn.find('i').addClass('love');
                            } else {
                                $favoriteBtn.find('i').removeClass('love');
                            }
                            // Show the response message (optional)
                            },
                            error: function (xhr, errmsg, err) {
                              // Handle error cases
                              if (xhr.status === 403) {
                                  alert('يجب ان تسجل الدخول أولا');
                              } else {
                                  alert('حدث خطأ ما! الرجاء المحاولة لاحقًا.');
                              }
                          }

                        });
                    });
                });

                // Function to get CSRF token from the cookie
                function getCookie(name) {
                    var value = "; " + document.cookie;
                    var parts = value.split("; " + name + "=");
                    if (parts.length == 2) return parts.pop().split(";").shift();
                }




                $(document).ready(function () {
                  const priceSlider = $("#priceSlider");

                  // Make sure that the Django template variables are rendered correctly
                  const minPrice = parseInt("{{ min_price }}");
                  const maxPrice = parseInt("{{ max_price }}");
                  const searchPriceFrom = parseInt("{% if 'searchPriceFrom' in request.GET %}{{ request.GET.searchPriceFrom }}{% else %}{{ min_price }}{% endif %}");
                  const searchPriceTo = parseInt("{% if 'searchPriceTo' in request.GET %}{{ request.GET.searchPriceTo }}{% else %}{{ max_price }}{% endif %}");

                  priceSlider.ionRangeSlider({
                    type: "double",
                    grid: true,
                    min: minPrice,
                    max: maxPrice,
                    from: searchPriceFrom,
                    to: searchPriceTo,
                    hide_min_max: true,
                    prefix: "EGP ",
                    onChange: function (data) {
                      // Update hidden input fields with slider values
                      $("#searchPriceFromInput").val(data.from);
                      $("#searchPriceToInput").val(data.to);
                    }
                  });

                  // Submit the form when the slider values change
                  priceSlider.on("change", function () {
                    $("#priceForm").submit();
                  });
                });





      {% comment %}
                $(document).ready(function () {
                  $('.increment-qty').click(function (e) {
                      e.preventDefault();
                      const orderdetailsId = $(this).data('orderdetails-id');
                      const url = "{% url 'add_qty_ajax' 0 %}".replace('0', orderdetailsId);

                      // Save reference to the parent container
                      const $quantityContainer = $(this).closest('.quantity-container');
                      const $quantityContainer2 = $(this).closest('.quantity-container2');

                      // Get the CSRF token from the cookie
                      const csrftoken = getCookie('csrftoken');

                      $.ajax({
                          type: 'POST',
                          url: url,
                          data: {
                              orderdetails_id: orderdetailsId,
                              csrfmiddlewaretoken: csrftoken, // Include the CSRF token in the request
                          },
                          success: function (data) {
                              // Update the quantity display with the new quantity
                              $quantityContainer.find('.quantity-display').text(data.new_quantity);

                              // Update the line price by calculating price * quantity
                              const linePrice = data.new_quantity * parseFloat(line.price);
                              $quantityContainer.find('.line-price').text(linePrice.toFixed(2));

                              // Update the total price
                              updateTotalPrice();
                          },
                          error: function (xhr, errmsg, err) {
                              // Handle error cases
                              if (xhr.status === 403) {
                                  alert('يجب ان تسجل الدخول أولا');
                              } else {
                                  alert('حدث خطأ ما! الرجاء المحاولة لاحقًا.');
                              }
                          }
                      });
                  });
              });

              $(document).ready(function () {
                $('.decrement-qty').click(function (e) {
                    e.preventDefault();
                    const orderdetailsId = $(this).data('orderdetails-id');
                    const url = "{% url 'sub_qty_ajax' 0 %}".replace('0', orderdetailsId);

                    // Save reference to the parent container
                    const $quantityContainer = $(this).closest('.quantity-container');

                    // Get the CSRF token from the cookie
                    const csrftoken = getCookie('csrftoken');

                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {
                            orderdetails_id: orderdetailsId,
                            csrfmiddlewaretoken: csrftoken, // Include the CSRF token in the request
                        },
                        success: function (data) {
                            // Update the quantity display with the new quantity
                            $quantityContainer.find('.quantity-display').text(data.new_quantity);

                            // Update the line price by calculating price * quantity
                            const linePrice = data.new_quantity * line.price;
                            $quantityContainer.find('.line-price').text(linePrice);

                            // Update the total price by recalculating the sum of all line prices
                            updateTotalPrice();
                        },
                        error: function (xhr, errmsg, err) {
                            // Handle error cases
                            if (xhr.status === 403) {
                                alert('يجب ان تسجل الدخول أولا');
                            } else {
                                alert('حدث خطأ ما! الرجاء المحاولة لاحقًا.');
                            }
                        }
                    });
                });
            });

            $(document).ready(function () {
              $('.delete').click(function (e) {
                  e.preventDefault();
                  const orderdetailsId = $(this).data('orderdetails-id');
                  const url = "{% url 'remove_from_cart_ajax' 0 %}".replace('0', orderdetailsId);

                  // Save reference to the parent <li> element
                  const $listItem = $(this).closest('li');

                  // Get the CSRF token from the cookie
                  const csrftoken = getCookie('csrftoken');

                  $.ajax({
                      type: 'POST',
                      url: url,
                      data: {
                          orderdetails_id: orderdetailsId,
                          csrfmiddlewaretoken: csrftoken, // Include the CSRF token in the request
                      },
                      success: function (data) {
                          // Update the total and order details count
                          $('.carttotal .price').text(data.total);
                          $('.product-total').text(data.product_total);
                          $('.order-details-count').text(data.order_details_count);

                      },
                      error: function (xhr, errmsg, err) {
                          // Handle error cases
                          if (xhr.status === 403) {
                              alert('يجب ان تسجل الدخول أولا');
                          } else {
                              alert('حدث خطأ ما! الرجاء المحاولة لاحقًا.');
                          }
                      }
                  });
              });
          });

          function updateTotalPrice() {
            let total = 0;
            $('.line-price').each(function () {
                total += parseFloat($(this).text());
            });
            $('.carttotal .price').text(total.toFixed(2));
        }
                   {% endcomment %}
    </script>
  </body>
</html>
