{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" integrity="sha512-t4GWSVZO1eC8BM339Xd7Uphw5s17a86tIZIj8qRxhnKub6WoyhnrxeCIMeAqBPgdZGlCcG2PrZjMc+Wr78+5Xg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lemonada&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/splidejs/4.1.4/css/splide.min.css" integrity="sha512-KhFXpe+VJEu5HYbJyKQs9VvwGB+jQepqb4ZnlhUF/jQGxYJcjdxOTf6cr445hOc791FFLs18DKVpfrQnONOB1g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancyapps-ui/5.0.20/fancybox/fancybox.min.css" integrity="sha512-CKzoxXyMYmvRJC/xhN3ZAN8qo4NSwYHnrGgS/cgUK80E2VgNjab71jUQgH55Vqzuw8lxUxg13xzMZuFTHxJD8A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static 'css/normalize.css'%}" />
    <link rel="stylesheet" href="{% static 'css/all.css'%}" />
    <link rel="shortcut icon" href="{% static 'img/iconPng.png'%}" />
    <link rel="stylesheet" href="{% static 'css/main.css'%}" />

    <title>الحجازي {% block title %}لتجهيز المحلات{% endblock %}</title>
  </head>
  <body onload="showLink()">
    <!-- start navbar -->
    {% include 'partials/_navbar.html'%}
    <!-- end navbar -->
    {% block content %} {% endblock %}

    <!-- start footer -->
    {% include 'partials/_footer.html'%}

    <!-- srart arrow -->
    <a href="#nav"
      ><div class="arrow-bg"><i class="fas fa-arrow-up"></i></div
    ></a>

    <!-- end arrow -->

    <!-- Optional JavaScript -->
    <!-- Popper.js first, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js" integrity="sha512-TPh2Oxlg1zp+kz3nFA0C5vVC6leG/6mm1z9+mA81MI5eaUVqasPLO8Cuk4gMF4gUfP5etR73rgU/8PNMsSesoQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js" integrity="sha512-3dZ9wIrMMij8rOH7X3kLfXAzwtcHpuYpEgQg1OA4QAob1e81H8ntUQmQm3pBudqIoySO5j0tHN4ENzA6+n2r4w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="{% static 'js/bootstrap.min.js'%}"></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"
      integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D"
      crossorigin="anonymous"
      async
    ></script>
    <script
    src="https://kit.fontawesome.com/c702822b74.js"
    crossorigin="anonymous"
  ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>  

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.3/ScrollTrigger.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/splidejs/4.1.4/js/splide.min.js" integrity="sha512-4TcjHXQMLM7Y6eqfiasrsnRCc8D/unDeY1UGKGgfwyLUCTsHYMxF7/UHayjItKQKIoP6TTQ6AMamb9w2GMAvNg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancyapps-ui/5.0.20/fancybox/fancybox.umd.js" integrity="sha512-IhR9I8gekUZ8WxAdepIWS2GktjbwgLWRaxNFHhEjA0XowdI/JMZuMY9/6KRGfZJFmLc5u4qj6eosU8jlHqVsfQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <script src="{% static 'js/partial.js'%}"></script>
    <script src="{% static 'js/anime.min.js'%}"></script>

    <script>
            $(document).ready(function () {
              $("#exampleModal").on("shown.bs.modal", function () {
                $(this).find("#inputQty").focus();
                $(this).find("#inputQty").select();
              });
            });
            window.addEventListener("scroll", () => {
              const arr = document.querySelector(".arrow-bg");
              arr.classList.toggle("arrow-show", window.scrollY > 20);
            });

            gsap.registerPlugin(ScrollTrigger);
            gsap.from(".navbar-brand", { opacity: 0, duration: 1, x: 20 });
            gsap.from(".navbar-toggler", {
              opacity: 0,
              duration: 0.5,
              delay: 0.6,
              x: -10,
            });
            gsap.from(".d-flex .form-control", {
              opacity: 0,
              duration: 1,
              delay: 0.5,
              x: -20,
            });
            gsap.from(".d-flex .searchBtn", {
              opacity: 0,
              duration: 1.2,
              delay: 0.5,
              x: -40,
            });
            gsap.from(".d-flex .cartBtn", {
              opacity: 0,
              duration: 1.4,
              delay: 0.5,
              x: -60,
            });
            gsap.from(".mob-cartBtn", {
              opacity: 0,
              duration: 0.4,
              delay: 0.5,
              x: -10,
            });
            gsap.from(".arrow-bg", { opacity: 0, duration: 1.4, delay: 0.5, y: 60 });
            gsap.from(".navbar-nav .nav-item", {
              opacity: 0,
              duration: 1,
              delay: 0.5,
              y: 30,
              stagger: 0.2,
            });

            

          
      
    </script>
  </body>
</html>
