{% extends 'base.html'%}
{% load static %}
{% block title %}-الدفع{% endblock %}
{% block content %}

  <!-- start signup -->

  <div class="container">
    <div class="row sign "> 
      <h2 class="locationTitile">الدفع</h2>
      <div class="col-12">
            <section class="signing_up payment">
              {% include 'includes/_alerts.html'%} 
                
              {% if not request.user.is_authenticated and request.user.is_anonymous %}
                  <div class="wrongcart wrongpay">
                    <a href="{% url 'signin' %}" class="text-light">تسجيل الدخول</a><h3 class="mt-3  payh3"> يجب</h3>
                  </div>
              {% elif not order %}
                <div class="wrongcart wrongpay">
                  <a href="{% url 'products' %}" class="text-light">تسوق</a><h3 class="mt-3  payh3"> لا يوجد طلبات بعد</h3>
                </div>
              {%else%}
              {% if is_added == True %}
              <form method="POST" style='display:none;'>
              {% else %}
              <form method="POST">
              {% endif %}
                {% csrf_token %}
                <h5 class="carttotal"><bdi><span class=" border border-primary rounded p-1">{{order.id}}</span><bdi> :طلب رقم</bdi></bdi></h5>
                <hr>
                <h5 class="carttotal"><bdi>منتج </bdi><span class="border border-primary rounded p-1">{{prototal}}</span><bdi> :بمجموع</bdi> , <bdi> صنف </bdi><span class="border border-primary rounded p-1">{{orderdetails.count}}</span><bdi> :لعدد</bdi></h5>
                <hr>
                <h5 class="carttotal"><bdi><span class="price border border-primary rounded p-1"><bdi>جم</bdi>{{total}}</span><bdi> :بمبلغ</bdi></bdi></h5>
                <hr>
                <a href="{% url 'cart' %}" class="btn btn-primary p-1">العوده للعربه</a>
                <hr>

                <div class="form-group fg fgg">
                  <label for="inputship_address">:عنوان التوصيل</label>
                  <i class="fas fa-map-marker-alt"></i></i><input required id="inputship_address" class="form-control fc fcc" type="text" placeholder="العنوان بالتفصيل" name="ship_address" value="{{ship_address}}">
                </div>
                <div class="form-group fg fgg">
                  <label for="ship_phone">:رقم التلفون</label>
                  <i class="fas fa-mobile-alt"></i><input required id="ship_phone" class="form-control fc fcc" type="text" placeholder="رقم هاتف يعمل" name="ship_phone" value="{{ship_phone}}">
                </div>
                
                <div class="form-group fg fgg">
                  <label for="card_name">:الأسم على البطاقه</label>
                  <i class="fas fa-credit-card"></i><input required id="card_name" class="form-control fc fcc" type="text" placeholder="الأسم على البطاقه" name="card_name" value="{{card_name}}">
                </div>
                <div class="form-group fg fgg">
                  <label for="card_number">:رقم الكارت</label>
                  <i class="fas fa-credit-card"></i></i><input required id="card_number" class="form-control fc fcc" type="text" placeholder="3333 3333 3333 3333" name="card_number" value="{{card_number}}">
                </div>
               
                <div class="form-group fg fc3">
                  <label for="expire">:تاريخ إنتهاء الكارت</label>
                  <i class="far fa-calendar-alt"></i><input required id="expire" class="form-control fc fcc" type="text" placeholder="mm/YY" name="expire" value="{{expire}}">
                </div>
                <div class="form-group fg fc3">
                  <label for="cvv">:CVV</label>
                  <i class="fa fa-lock"></i><input required id="cvv" class="form-control fc fcc" type="text" placeholder="333" name="security_code" value="{{security_code}}">
                </div>
                <div class="paybtn">
                   <button name="btnpayment" type="submit" class="btn btn-primary btn-block mt-3 mb-3">دفع</button>
                </div>
              </form>
              {%endif%}
              
            
            </section>       
          
      </div>
 
    </div>
 </div>
</section> 
</div> 
  <!-- end signup -->


  <!-- end signin -->
  {% endblock %}
